
@{
    ViewData["Title"] = "Gavel Store";
}
<div class="body-text">
    <h1>Gavel Store</h1>
    <p>Come to a Gavel show to get your Gavel T-Shirts. All shirts are $15.</p>
    <p>If Gavel is not playing in your area, please reach out to us on the <a asp-action="contact" asp-controller="home">contact page</a></p>
    <img src="~/images/Store/NewT-Shirt.jpg" class="rounded mx-auto d-block" alt="GutterChrist Sporting the new Gavel T-Shirt" />
    <br />
    <img src="~/images/Store/fanInShirt.jpg" class="rounded mx-auto d-block" alt="Fan in Gavel T-Shirt" />
</div>


