@{
    ViewData["Title"] = "About Gavel";
}
<div class="body-text">
    <h1>About Gavel</h1>
    <p>
        Gavel start......
    </p>
    <h2>Band Members</h2>
    <h3>John De Stefano</h3>
    <strong>Guitar</strong>
    <div class="row">
        <div class="col">
            <img src="~/images/Band/JohnD.jpg" class="img-fluid" />
        </div>
        <div class="col">
            John is the founding member of Gavel and only original band member.
        </div>
    </div>
    <h3>Hiram</h3>
    <strong>Vocals</strong>
    <div class="row">  
        <div class="col">
            Hiram is the guy who stands in front and screams.
        </div>
        <div class="col">
            <img src="~/images/Band/Hiram.jpg" class="img-fluid rounded" />
        </div>
    </div>
    <h3>Lou</h3>
    <strong>Drums</strong>
    <div class="row">
        <div class="col">
            <img src="~/images/Band/lou.jpg" class="img-fluid rounded" />
        </div>
        <div class="col">
           Lou plays the drums and drinks lots of Red Bull.
        </div>
    </div>
    <h3>John Ciliberti</h3>
    <strong>Guitar</strong>
    <div class="row">
        <div class="col">
            John Ciliberti is new guitar player.
        </div>
        <div class="col">
            <img src="~/images/Band/johnC.png" class="img-fluid rounded" />
        </div>
    </div>
    <h3>Peter Lee</h3>
    <strong>Bass</strong>
    <div class="row">
        <div class="col">
            <img src="~/images/Band/pete 1.jpg" class="img-fluid rounded" />
        </div>
        <div class="col">
            Pete is the new guy.
        </div>
    </div>
</div>
