@{
    ViewData["Title"] = "Event";
}
<div class="body-text">
    <h1>Upcoming Shows</h1>
</div>
<table class="table table-striped table-inverse">
    <thead>
        <tr>
            <th>Where</th>
            <th>When</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h5>Hartley's Bar</h5>
                <address>
                    <a href="https://www.bing.com/local?lid=YN873x17275192864062025841&id=YN873x17275192864062025841&q=Hartley%27s&name=Hartley%27s&cp=40.7793617248535%7e-74.1336059570313&ppois=40.7793617248535_-74.1336059570313_Hartley%27s">
                        350 Belleville Tpke, 
                        North Arlington, NJ 07031
                    </a>
                </address>
                <abbr title="Phone">P:</abbr> 201-991-9809
            </td>
            <td>
                Sunday July 23rd 2017
            </td>
            <td>
                <img src="~/images/Fliers/HarleysDec2-2017.jpg" class="img-fluid rounded" />
            </td>
        </tr>
    </tbody>
</table>
<div class="body-text">
    <h1>Past Shows</h1>
</div>

<table class="table table-striped table-inverse">
    <thead>
        <tr>
            <th>Where</th>
            <th>When</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h5>Level 1</h5>
                (Ask a Punk)<br />
                Philadelphia, PA

            </td>
            <td>
                Saturday August 19th 2017
            </td>
            <td>
                <img src="~/images/Fliers/Level108-19-2017.jpg" class="img-fluid rounded" />
            </td>
        </tr>
        <tr>
            <td>
                <h5>QXT's Celestial Stage</h5>
                <address>
                    248 Mulberry Street<br />
                    Newark, NJ
                </address>
                <abbr title="Phone">P:</abbr> 201-983-9397
            </td>
            <td>
                Sunday July 23rd 2017
            </td>
            <td>
                <img src="~/images/Fliers/QXTs-7-30-2017.jpg" class="img-fluid rounded" />
            </td>
        </tr>
        <tr>
            <td>
                <h5>Hartley's Bar</h5>
                North Arlington, NJ
            </td>
            <td>
                Saturday June 17th 2017
            </td>
            <td>
                <img src="~/images/Fliers/Hartleys-6-17-2017.jpg" class="img-fluid rounded" />
            </td>
        </tr><tr>
            <td>
                <h5>Meat Locker</h5>
                8 Park St
                Montclair, NJ 07042
            </td>
            <td>
                Saturday April 8th 2017
            </td>
            <td>
                <img src="~/images/Fliers/MeatLockerApril8th.jpg" class="img-fluid rounded" />
            </td>
        </tr>
        <tr>
            <td>
                <h5>Blue Room</h5>
                201 Secaucus Rd, <br />
                Secaucus, NJ 07094 
                
            </td>
            <td>
                Saturday April 29th 2017
            </td>
            <td>
                <img src="~/images/Fliers/ToxicFest.jpg" class="img-fluid rounded" />
            </td>
        </tr>
    </tbody>
</table>

