@{
    ViewData["Title"] = "Event";
}
<div class="body-text">
    <h1>Upcoming Shows</h1>
</div>

<table class="table table-striped table-inverse">
    <thead>
        <tr>
            <th>Where</th>
            <th>When</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h5>Meat Locker</h5>
                8 Park St
                Montclair, NJ 07042
            </td>
            <td>
                Saturday April 8th 2017
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                <h5>Blue Room</h5>
                201 Secaucus Rd, <br />
                Secaucus, NJ 07094 
                
            </td>
            <td>
                Saturday April 29th 2017
            </td>
            <td>
                <img src="~/images/Fliers/ToxicFest.jpg" class="img-fluid rounded" />
            </td>
        </tr>
    </tbody>
</table>

