<br />
<div class="row">
    <div class="col-1">

    </div>
    <div class="col-11">
        <h1 class="body-text">Gavel Fan Club</h1>
        <p class="body-text">
            More coming soon. To join our fan club and get email updates for shows and major Gavel news please <a asp-area="" asp-controller="Account" asp-action="Register" >Register</a>.

        </p>
        <img src="~/images/Fans/GutterBirthDay2016.jpg" class="img-fluid rounded"/>
        <br /> <br />
        <img src="~/images/Fans/GutterBirstDay2016-2.jpg" class="img-fluid rounded"/>
    </div>

</div>