@{
    ViewData["Title"] = "Home Page";
}
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1298736350149806";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-4">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-3">Welcome to the official Gavel website</h2>
                <p class="lead">
                    Gavel is a cross-over hardcore band from New Jersey, USA. Gavel combines the raw energy and aggression of New Jersey hard core with the speed and precision of Teutonic thrash metal and old school death metal.
                </p>
                <hr class="my-4">
                <p>
                    This web site is a work in progress and we are still working out some of the technical stuff. When it is done you will be able to use this site to see when and where Gavel is playing, listen to
                    Gavel music, watch Gavel videos, and chat with fans and band members.
                </p>
            </div>
       </div>
        <div class="card">
            <img class="card-img-top" src="~/images/Background/showsBanner.jpg" alt="Upcoming Gavel Shows">
            <div class="card-block">
                <h3 class="card-title">Upcoming Shows</h3>
                <p class="card-text">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Where</th>
                                <th>When</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Meat Locker</h5>
                                    Montclair, NJ
                                </td>
                                <td>
                                    Saturday April 8th 2017
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Blue Room</h5>
                                    Secaucus, NJ
                                </td>
                                <td>
                                    Saturday April 29th 2017
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p>
                <a  asp-area="" asp-controller="Home" asp-action="Events" class="btn btn-primary">See all Upcoming shows</a>
            </div>
        </div>
        <br />
        <div class="card">
            <img class="card-img-top" src="~/images/Background/newsBanner.jpg" alt="Gavel news">
            <div class="card-block">
                <h3 class="card-title">News</h3>
                <h4>Welcome Peter Lee</h4>
                <p class="card-text">
                    Gavel welcomes NYC Punk and Metal bass player Peter Lee as the newest member of the band.
                </p>
                <a asp-area="" asp-controller="Home" asp-action="News" class="btn btn-primary">More news.</a>
            </div>
        </div>
        <br />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-8">
        
        <div class="fb-page" data-href="https://www.facebook.com/Gavel-Shreds-531635437026859/" 
             data-tabs="timeline" 
             data-small-header="true" 
             data-adapt-container-width="true" 
             data-hide-cover="true" 
             data-show-facepile="true"
             data-width="500"
             data-height="1000"
             ><blockquote cite="https://www.facebook.com/Gavel-Shreds-531635437026859/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Gavel-Shreds-531635437026859/">Gavel Shreds</a></blockquote></div>
    </div>
</div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
            
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            
        </div>

    </div>
