<h1 class="body-text">Gavel News</h1>
<div class="card">
    <div class="card-block">
        <h3 class="card-title">Welcome, Peter Lee</h3>
        <small>2/1/2017</small><br />
        <p class="card-text">
            Gavel welcomes NYC Punk and Metal bass player Peter Lee as the newest member of the band.
    </div>
</div>
<hr class="my-4 body-text">
<div class="card">
    <div class="card-block">
        <h3 class="card-title">Welcome, John Ciliberti</h3>
        <small>8/1/2016</small><br />
        <p class="card-text">
            Gavel welcomes John Ciliberti on guitar.
        </p>
    </div>
</div>
<br />

