<br />
<div class="row">
    <div class="col-1">

    </div>
    <div col>
        <h1 class="body-text">Gavel Videos</h1>
        <p class="body-text">
            Sorry, no videos yet. Please check back soon.

        </p>
    </div>
    
</div>