<br />
<div class="row">
    <div class="col-1">

    </div>
    <div col>
        <h1 class="body-text">Gavel Videos</h1>
        <iframe id="ytplayer" type="text/html" width="720" height="405"
                src="https://www.youtube.com/embed/?listType=playlist&list=PLrLJ8wrrEYWbHtK2R1ylP495dPcYzR8eh&autoplay=1&color=white"
                frameborder="0" allowfullscreen></div>
    
</div>