@model IndexViewModel
@{
    ViewData["Title"] = "Manage your Gavel Fanclub account";
}

<h1 class="body-text">@ViewData["Title"].</h1>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="body-text">
    <h2>Change your fan club account settings</h2>

    <h2>Manage Password</h2>
    @if (Model.HasPassword)
            {
        <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-info">Change Password</a>
    }
    else
    {
        <a asp-controller="Manage" asp-action="SetPassword" class="btn btn-info">Create</a>
    }

    <hr />
    <h2>Manage Social Network Logins:</h2>
    <p>Gavelshreds.com allows you to login using social network accounts such as FaceBook.</p>
    <br />
    @Model.Logins.Count social media accounts have been added. 
    <br />
    <a asp-controller="Manage" asp-action="ManageLogins" class="btn btn-info">Manage Social Media connections</a>
</div>
